In [ ]:
import pandas as pd
# objective : merge of 2 databases, YouTube Top 20 2023 and 2024 in order to make comparisons and graphs for project. Merge type: union all as no key or common data

# **Creation dataframe top 20 2023**

In [ ]:
df_2023 = pd.read_csv("/content/top_1000_stats_2023.csv")
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932 entries, 0 to 931
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   rank                                 932 non-null    int64
 1   title                                917 non-null    object
 2   subscribers                          932 non-null    int64
 3   video_views                          932 non-null    int64
 4   category                             932 non-null    object
 5   uploads                              932 non-null    int64
 6   country                              932 non-null    object
 7   channel_type                         932 non-null    object
 8   video_views_rank                     932 non-null    float64
 9   country_rank                         932 non-null    float64
 10  channel_type_rank                    932 non-null    float64
 11  video_views_for_the_last_30_days     932 non-null    int64
 12  lowest_monthly_earnings              932 non-null    int64
 13  highest_monthly_earnings             932 non-null    int64
 14  lowest_yearly_earnings               932 non-null    int64
 15  highest_yearly_earnings              932 non-null    int64
 16  subscribers_for_last_30_days         932 non-null    int64
 17  created_year                         932 non-null    object
 18  gross_tertiary_education_enrollment  932 non-null    float64
 19  population                           932 non-null    int64
 20  unemployment_rate                    932 non-null    float64
 21  urban_population                     932 non-null    int64
dtypes: float64(5), int64(12), object(5)
memory usage: 160.3+ KB

In [ ]:
# select 20 first rows
df_2023 = df_2023.iloc[0:20, :]
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   rank                                 20 non-null     int64
 1   title                                20 non-null     object
 2   subscribers                          20 non-null     int64
 3   video_views                          20 non-null     int64
 4   category                             20 non-null     object
 5   uploads                              20 non-null     int64
 6   country                              20 non-null     object
 7   channel_type                         20 non-null     object
 8   video_views_rank                     20 non-null     float64
 9   country_rank                         20 non-null     float64
 10  channel_type_rank                    20 non-null     float64
 11  video_views_for_the_last_30_days     20 non-null     int64
 12  lowest_monthly_earnings              20 non-null     int64
 13  highest_monthly_earnings             20 non-null     int64
 14  lowest_yearly_earnings               20 non-null     int64
 15  highest_yearly_earnings              20 non-null     int64
 16  subscribers_for_last_30_days         20 non-null     int64
 17  created_year                         20 non-null     object
 18  gross_tertiary_education_enrollment  20 non-null     float64
 19  population                           20 non-null     int64
 20  unemployment_rate                    20 non-null     float64
 21  urban_population                     20 non-null     int64
dtypes: float64(5), int64(12), object(5)
memory usage: 3.6+ KB

# **Data cleaning**

In [ ]:
# select columns to remove: "category","video_views_rank","country_rank", "channel_type_rank", "gross_tertiary_education_enrollment", "population", "unemployment_rate", "urban_population"

df_2023_clean = df_2023.drop(["category","video_views_rank","country_rank", "channel_type_rank", "gross_tertiary_education_enrollment", "population", "unemployment_rate", "urban_population"], axis= 1)
df_2023_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rank                              20 non-null     int64
 1   title                             20 non-null     object
 2   subscribers                       20 non-null     int64
 3   video_views                       20 non-null     int64
 4   uploads                           20 non-null     int64
 5   country                           20 non-null     object
 6   channel_type                      20 non-null     object
 7   video_views_for_the_last_30_days  20 non-null     int64
 8   lowest_monthly_earnings           20 non-null     int64
 9   highest_monthly_earnings          20 non-null     int64
 10  lowest_yearly_earnings            20 non-null     int64
 11  highest_yearly_earnings           20 non-null     int64
 12  subscribers_for_last_30_days      20 non-null     int64
 13  created_year                      20 non-null     object
dtypes: int64(10), object(4)
memory usage: 2.3+ KB

In [ ]:
# remove "rank" column
# df_2023_clean = df_2023_clean.drop(["rank"], axis = 1)
# df_2023_clean.info()

In [ ]:
# rename columns "video_views_for_the_last_30_days", "lowest_monthly_earnings", "highest_monthly_earnings", "lowest_yearly_earnings", "highest_yearly_earnings", "subscribers_for_last_30_days", "created_year"
df_2023_clean.rename(columns={'video_views_for_the_last_30_days': 'views_last_30_days', 'subscribers_for_last_30_days': 'subscribers_last_30_days', "created_year": "year"}, inplace=True)
df_2023_clean.columns = df_2023_clean.columns.str.replace("earnings", "income")
df_2023_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      20 non-null     int64
 1   title                     20 non-null     object
 2   subscribers               20 non-null     int64
 3   video_views               20 non-null     int64
 4   uploads                   20 non-null     int64
 5   country                   20 non-null     object
 6   channel_type              20 non-null     object
 7   views_last_30_days        20 non-null     int64
 8   lowest_monthly_income     20 non-null     int64
 9   highest_monthly_income    20 non-null     int64
 10  lowest_yearly_income      20 non-null     int64
 11  highest_yearly_income     20 non-null     int64
 12  subscribers_last_30_days  20 non-null     int64
 13  year                      20 non-null     object
dtypes: int64(10), object(4)
memory usage: 2.3+ KB

In [ ]:
# change "year" type int
df_2023_clean["year"] = df_2023_clean["year"].astype(int)
df_2023_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      20 non-null     int64
 1   title                     20 non-null     object
 2   subscribers               20 non-null     int64
 3   video_views               20 non-null     int64
 4   uploads                   20 non-null     int64
 5   country                   20 non-null     object
 6   channel_type              20 non-null     object
 7   views_last_30_days        20 non-null     int64
 8   lowest_monthly_income     20 non-null     int64
 9   highest_monthly_income    20 non-null     int64
 10  lowest_yearly_income      20 non-null     int64
 11  highest_yearly_income     20 non-null     int64
 12  subscribers_last_30_days  20 non-null     int64
 13  year                      20 non-null     int64
dtypes: int64(11), object(3)
memory usage: 2.3+ KB

In [ ]:
# reorganize columns
df_2023_clean.insert(0, "rank", df_2023_clean.pop("rank"))
df_2023_clean.insert(1, "year", df_2023_clean.pop("year"))
df_2023_clean.insert(2, "country", df_2023_clean.pop("country"))
df_2023_clean.insert(7, "subscribers_last_30_days", df_2023_clean.pop("subscribers_last_30_days"))
df_2023_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      20 non-null     int64
 1   year                      20 non-null     int64
 2   country                   20 non-null     object
 3   title                     20 non-null     object
 4   subscribers               20 non-null     int64
 5   video_views               20 non-null     int64
 6   uploads                   20 non-null     int64
 7   subscribers_last_30_days  20 non-null     int64
 8   channel_type              20 non-null     object
 9   views_last_30_days        20 non-null     int64
 10  lowest_monthly_income     20 non-null     int64
 11  highest_monthly_income    20 non-null     int64
 12  lowest_yearly_income      20 non-null     int64
 13  highest_yearly_income     20 non-null     int64
dtypes: int64(11), object(3)
memory usage: 2.3+ KB

In [ ]:
# insert column "data_year"
df_2023_clean.insert(14, "data_year", 2023)
df_2023_clean

,rank,year,country,title,subscribers,video_views,uploads,subscribers_last_30_days,channel_type,views_last_30_days,lowest_monthly_income,highest_monthly_income,lowest_yearly_income,highest_yearly_income,data_year
0,3,2012,United States,MrBeast,166000000,28368841870,741,8000000,Entertainment,1348000000,337000,5400000,4000000,64700000,2023
1,7,2015,United States,Kids Diana Show,112000000,93247040539,1111,0,Entertainment,731674000,182900,2900000,2200000,35100000,2023
2,8,2010,Japan,PewDiePie,111000000,29058044447,4716,0,Entertainment,39184000,9800,156700,117600,1900000,2023
3,10,2018,United States,Vlad and Niki,98900000,77180169894,574,600000,Entertainment,580574000,145100,2300000,1700000,27900000,2023
4,12,2007,United States,WWE,96000000,77428473662,70127,600000,Sports,714614000,178700,2900000,2100000,34300000,2023
5,17,2020,United Kingdom,5-Minute Crafts 2.0,80100000,26236790209,1,0,Entertainment,1,0,0,0,0,2023
6,29,2009,United States,Dude Perfect,59500000,16241549158,389,100000,Sports,141200000,35300,564800,423600,6800000,2023
7,33,2014,India,Wave Music,58000000,40602020243,19487,500000,Music,232025000,58000,928100,696100,11100000,2023
8,49,2007,0,badabun,46800000,19398045702,1,75,Music,440,0,2,1,21,2023
9,53,2011,El Salvador,Fernanfloo,46100000,10323391593,543,200000,Games,33842000,8500,135400,101500,1600000,2023
10,55,2006,Brazil,Felipe Neto,45200000,16602198273,4331,200000,Entertainment,130359000,32600,521400,391100,6300000,2023
11,58,2005,0,brightside,44500000,10708531817,0,1,0,0,0,0,0,0,2023
12,60,2013,Brazil,whinderssonnunes,44200000,4274709210,558,0,Comedy,26683000,6700,106700,80100,1300000,2023
13,69,2017,United States,Like Nastya Show,42400000,19547696190,618,0,Entertainment,53202000,13300,212800,159600,2600000,2023
14,74,2010,Mexico,Luis Arturo Villar Sudek,40600000,8670473639,0,0,Comedy,0,0,0,0,0,2023
15,75,2011,0,elrubiusOMG,40400000,7410536668,703,0,Entertainment,5773000,1400,23100,17300,277100,2023
16,76,2018,0,Toys and colors,40300000,47005053156,4,0,People,5,0,0,0,0,2023
17,77,2017,United Arab Emirates,shfa2 -,39700000,23884824160,1596,300000,People,247731000,61900,990900,743200,11900000,2023
18,78,2021,0,LUCCAS NETO- LUCCAS TOON,39400000,22302547082,1,0,Games,2,0,0,0,0,2023
19,79,2014,India,CarryMinati,39200000,3294013141,186,700000,Comedy,78688000,19700,314800,236100,3800000,2023

# **Creation dataframe top 20 2024**

In [ ]:
df_2024 = pd.read_csv("/content/Top20_2024.csv")
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     20 non-null     object
 1   country                   20 non-null     object
 2   subscribers               20 non-null     int64
 3   video_views               20 non-null     int64
 4   uploads                   20 non-null     int64
 5   channel_link              20 non-null     object
 6   channel_type              20 non-null     object
 7   created_date              20 non-null     object
 8   subscribers_last_30_days  18 non-null     float64
 9   views_last_30_days        20 non-null     int64
 10  daily_views_average       20 non-null     int64
 11  lowest_monthly_income     20 non-null     int64
 12  highest_monthly_income    20 non-null     int64
 13  lowest_yearly_income      20 non-null     int64
 14  highest_yearly_income     20 non-null     int64
dtypes: float64(1), int64(9), object(5)
memory usage: 2.5+ KB

In [ ]:
# drop columns not into df_2023_clean
df_2024_clean = df_2024.drop(["channel_link","daily_views_average"], axis= 1)
df_2024_clean

,title,country,subscribers,video_views,uploads,channel_type,created_date,subscribers_last_30_days,views_last_30_days,lowest_monthly_income,highest_monthly_income,lowest_yearly_income,highest_yearly_income
0,vlad and niki,US,129000000,98963573244,790,kids,23/04/2018,2000000.0,1514000000,344400,5500000,4100000,66100000
1,✿ kids diana show,US,128000000,108833430096,1280,kids,12/05/2015,1000000.0,1435000000,326500,5200000,3900000,62700000
2,like nastya,US,123000000,107885644820,916,kids,06/12/2016,1000000.0,1476000000,335900,5400000,4000000,64500000
3,toys and colors,US,68100000,81954205531,1392,kids,17/03/2016,1900000.0,2814000000,640100,10200000,7700000,122900000
4,5-minute crafts,US,81100000,27896962745,7384,craft,15/11/2016,4300000.0,1078742425,245400,3900000,2900000,47100000
5,wavemusic,US,4740000,2527788438,2268,music,20/12/2011,10000.0,20177855,4600,73400,55100,881400
6,wwe,US,105000000,90054898316,80845,sport,11/05/2007,1000000.0,672001471,152900,2400000,1800000,29400000
7,pewdiepie,JP,110000000,29452005379,4800,gaming,29/04/2010,NaN,17214772,3900,62700,47000,751900
8,zamzam electronics trading,AE,69200000,34062790399,19180,entertainment,19/12/2020,2200000.0,1342000000,305200,4900000,3700000,58600000
9,whinderssonnunes,BR,44700000,4587763266,868,entertainment,21/01/2013,NaN,9127450,2100,33200,24900,398700
10,kl bro biju rithvik,IN,62500000,54006608122,2865,entertainment,21/07/2020,2600000.0,2739000000,623100,10000000,7500000,119600000
11,carryminati,IN,44800000,4072864133,202,entertainment,30/10/2014,100000.0,21878007,5000,79600,59700,955600
12,김프로kimpro,KR,72600000,56248043457,3572,entertainment,11/11/2017,4200000.0,2792000000,635100,10200000,7600000,121900000
13,ur · cristiano,PT,71500000,708348070,77,entertainment,08/07/2024,5000000.0,141064845,32100,513500,385100,6800000
14,mrbeast,US,336000000,66485783433,836,entertainment,20/02/2012,6000000.0,3342000000,760400,12200000,9100000,146000000
15,stokes twins,US,101000000,15951895953,333,entertainment,11/04/2008,4500000.0,1108000000,252000,4000000,3000000,48400000
16,a4,US,71300000,31451352045,969,entertainment,29/11/2014,1500000.0,311991552,71000,1100000,851700,13600000
17,alan chikin chow,US,69500000,48789998680,1408,entertainment,03/02/2020,2900000.0,862213000,196200,3100000,2400000,37700000
18,dude perfect,US,60600000,17992859113,462,entertainment,17/03/2009,100000.0,118421642,26900,431100,323300,5200000
19,mark rober,US,60500000,8859070726,186,entertainment,20/10/2011,1300000.0,536507732,122100,2000000,1500000,23400000

In [ ]:
# keep year in "created_date"
df_2024_clean["created_date"] = df_2024_clean["created_date"].str[-4:]
# change data type "created_date" to int
df_2024_clean["created_date"] = df_2024_clean["created_date"].astype(int)
# rename column "created_date"
df_2024_clean = df_2024_clean.rename(columns = {"created_date" : "year"})
#df_2024_clean.info()

In [ ]:
# reorganize columns
print(df_2023_clean.columns)
df_2024_clean.columns

Index(['rank', 'year', 'country', 'title', 'subscribers', 'video_views',
       'uploads', 'subscribers_last_30_days', 'channel_type',
       'views_last_30_days', 'lowest_monthly_income', 'highest_monthly_income',
       'lowest_yearly_income', 'highest_yearly_income', 'data_year'],
      dtype='object')

Index(['title', 'country', 'subscribers', 'video_views', 'uploads',
       'channel_type', 'year', 'subscribers_last_30_days',
       'views_last_30_days', 'lowest_monthly_income', 'highest_monthly_income',
       'lowest_yearly_income', 'highest_yearly_income'],
      dtype='object')

In [ ]:
df_2024_clean.insert(0, "year", df_2024_clean.pop("year"))
df_2024_clean.insert(1, "country", df_2024_clean.pop("country"))
df_2024_clean.columns

Index(['year', 'country', 'title', 'subscribers', 'video_views', 'uploads',
       'channel_type', 'subscribers_last_30_days', 'views_last_30_days',
       'lowest_monthly_income', 'highest_monthly_income',
       'lowest_yearly_income', 'highest_yearly_income'],
      dtype='object')

In [ ]:
df_2024_clean

,year,country,title,subscribers,video_views,uploads,channel_type,subscribers_last_30_days,views_last_30_days,lowest_monthly_income,highest_monthly_income,lowest_yearly_income,highest_yearly_income
0,2018,US,vlad and niki,129000000,98963573244,790,kids,2000000.0,1514000000,344400,5500000,4100000,66100000
1,2015,US,✿ kids diana show,128000000,108833430096,1280,kids,1000000.0,1435000000,326500,5200000,3900000,62700000
2,2016,US,like nastya,123000000,107885644820,916,kids,1000000.0,1476000000,335900,5400000,4000000,64500000
3,2016,US,toys and colors,68100000,81954205531,1392,kids,1900000.0,2814000000,640100,10200000,7700000,122900000
4,2016,US,5-minute crafts,81100000,27896962745,7384,craft,4300000.0,1078742425,245400,3900000,2900000,47100000
5,2011,US,wavemusic,4740000,2527788438,2268,music,10000.0,20177855,4600,73400,55100,881400
6,2007,US,wwe,105000000,90054898316,80845,sport,1000000.0,672001471,152900,2400000,1800000,29400000
7,2010,JP,pewdiepie,110000000,29452005379,4800,gaming,NaN,17214772,3900,62700,47000,751900
8,2020,AE,zamzam electronics trading,69200000,34062790399,19180,entertainment,2200000.0,1342000000,305200,4900000,3700000,58600000
9,2013,BR,whinderssonnunes,44700000,4587763266,868,entertainment,NaN,9127450,2100,33200,24900,398700
10,2020,IN,kl bro biju rithvik,62500000,54006608122,2865,entertainment,2600000.0,2739000000,623100,10000000,7500000,119600000
11,2014,IN,carryminati,44800000,4072864133,202,entertainment,100000.0,21878007,5000,79600,59700,955600
12,2017,KR,김프로kimpro,72600000,56248043457,3572,entertainment,4200000.0,2792000000,635100,10200000,7600000,121900000
13,2024,PT,ur · cristiano,71500000,708348070,77,entertainment,5000000.0,141064845,32100,513500,385100,6800000
14,2012,US,mrbeast,336000000,66485783433,836,entertainment,6000000.0,3342000000,760400,12200000,9100000,146000000
15,2008,US,stokes twins,101000000,15951895953,333,entertainment,4500000.0,1108000000,252000,4000000,3000000,48400000
16,2014,US,a4,71300000,31451352045,969,entertainment,1500000.0,311991552,71000,1100000,851700,13600000
17,2020,US,alan chikin chow,69500000,48789998680,1408,entertainment,2900000.0,862213000,196200,3100000,2400000,37700000
18,2009,US,dude perfect,60600000,17992859113,462,entertainment,100000.0,118421642,26900,431100,323300,5200000
19,2011,US,mark rober,60500000,8859070726,186,entertainment,1300000.0,536507732,122100,2000000,1500000,23400000

In [ ]:
# remove non latin characters
df_2024_clean["title"] = df_2024_clean["title"].str.encode("ascii","ignore").str.decode("ascii")

In [ ]:
# replace NaN
df_2024_clean = df_2024_clean.fillna(0)
# change "subscribers_last_30_days" data type to int
df_2024_clean["subscribers_last_30_days"] = df_2024_clean["subscribers_last_30_days"].astype(int)
df_2024_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      20 non-null     int64
 1   country                   20 non-null     object
 2   title                     20 non-null     object
 3   subscribers               20 non-null     int64
 4   video_views               20 non-null     int64
 5   uploads                   20 non-null     int64
 6   channel_type              20 non-null     object
 7   subscribers_last_30_days  20 non-null     int64
 8   views_last_30_days        20 non-null     int64
 9   lowest_monthly_income     20 non-null     int64
 10  highest_monthly_income    20 non-null     int64
 11  lowest_yearly_income      20 non-null     int64
 12  highest_yearly_income     20 non-null     int64
dtypes: int64(10), object(3)
memory usage: 2.2+ KB

In [ ]:
# insert "data_year" column
df_2024_clean.insert(13, "data_year", 2024)
df_2024_clean

,year,country,title,subscribers,video_views,uploads,channel_type,subscribers_last_30_days,views_last_30_days,lowest_monthly_income,highest_monthly_income,lowest_yearly_income,highest_yearly_income,data_year
0,2018,US,vlad and niki,129000000,98963573244,790,kids,2000000,1514000000,344400,5500000,4100000,66100000,2024
1,2015,US,kids diana show,128000000,108833430096,1280,kids,1000000,1435000000,326500,5200000,3900000,62700000,2024
2,2016,US,like nastya,123000000,107885644820,916,kids,1000000,1476000000,335900,5400000,4000000,64500000,2024
3,2016,US,toys and colors,68100000,81954205531,1392,kids,1900000,2814000000,640100,10200000,7700000,122900000,2024
4,2016,US,5-minute crafts,81100000,27896962745,7384,craft,4300000,1078742425,245400,3900000,2900000,47100000,2024
5,2011,US,wavemusic,4740000,2527788438,2268,music,10000,20177855,4600,73400,55100,881400,2024
6,2007,US,wwe,105000000,90054898316,80845,sport,1000000,672001471,152900,2400000,1800000,29400000,2024
7,2010,JP,pewdiepie,110000000,29452005379,4800,gaming,0,17214772,3900,62700,47000,751900,2024
8,2020,AE,zamzam electronics trading,69200000,34062790399,19180,entertainment,2200000,1342000000,305200,4900000,3700000,58600000,2024
9,2013,BR,whinderssonnunes,44700000,4587763266,868,entertainment,0,9127450,2100,33200,24900,398700,2024
10,2020,IN,kl bro biju rithvik,62500000,54006608122,2865,entertainment,2600000,2739000000,623100,10000000,7500000,119600000,2024
11,2014,IN,carryminati,44800000,4072864133,202,entertainment,100000,21878007,5000,79600,59700,955600,2024
12,2017,KR,kimpro,72600000,56248043457,3572,entertainment,4200000,2792000000,635100,10200000,7600000,121900000,2024
13,2024,PT,ur cristiano,71500000,708348070,77,entertainment,5000000,141064845,32100,513500,385100,6800000,2024
14,2012,US,mrbeast,336000000,66485783433,836,entertainment,6000000,3342000000,760400,12200000,9100000,146000000,2024
15,2008,US,stokes twins,101000000,15951895953,333,entertainment,4500000,1108000000,252000,4000000,3000000,48400000,2024
16,2014,US,a4,71300000,31451352045,969,entertainment,1500000,311991552,71000,1100000,851700,13600000,2024
17,2020,US,alan chikin chow,69500000,48789998680,1408,entertainment,2900000,862213000,196200,3100000,2400000,37700000,2024
18,2009,US,dude perfect,60600000,17992859113,462,entertainment,100000,118421642,26900,431100,323300,5200000,2024
19,2011,US,mark rober,60500000,8859070726,186,entertainment,1300000,536507732,122100,2000000,1500000,23400000,2024

In [ ]:
print(df_2023_clean.columns)
df_2024_clean.columns

Index(['rank', 'year', 'country', 'title', 'subscribers', 'video_views',
       'uploads', 'subscribers_last_30_days', 'channel_type',
       'views_last_30_days', 'lowest_monthly_income', 'highest_monthly_income',
       'lowest_yearly_income', 'highest_yearly_income', 'data_year'],
      dtype='object')

Index(['year', 'country', 'title', 'subscribers', 'video_views', 'uploads',
       'channel_type', 'subscribers_last_30_days', 'views_last_30_days',
       'lowest_monthly_income', 'highest_monthly_income',
       'lowest_yearly_income', 'highest_yearly_income', 'data_year'],
      dtype='object')

In [ ]:
# move df_2024_clean "rank"
#df_2024_clean.insert(0, "rank", df_2024_clean.pop("rank"))
#print(df_2023_clean.columns)
#df_2024_clean.columns

# Join tables

In [ ]:
# union all join
df_merged = pd.concat([df_2023_clean, df_2024_clean], ignore_index= True)
print(df_merged.info())
df_merged

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      20 non-null     float64
 1   year                      40 non-null     int64
 2   country                   40 non-null     object
 3   title                     40 non-null     object
 4   subscribers               40 non-null     int64
 5   video_views               40 non-null     int64
 6   uploads                   40 non-null     int64
 7   subscribers_last_30_days  40 non-null     int64
 8   channel_type              40 non-null     object
 9   views_last_30_days        40 non-null     int64
 10  lowest_monthly_income     40 non-null     int64
 11  highest_monthly_income    40 non-null     int64
 12  lowest_yearly_income      40 non-null     int64
 13  highest_yearly_income     40 non-null     int64
 14  data_year                 40 non-null     int64
dtypes: float64(1), int64(11), object(3)
memory usage: 4.8+ KB
None

,rank,year,country,title,subscribers,video_views,uploads,subscribers_last_30_days,channel_type,views_last_30_days,lowest_monthly_income,highest_monthly_income,lowest_yearly_income,highest_yearly_income,data_year
0,3.0,2012,United States,MrBeast,166000000,28368841870,741,8000000,Entertainment,1348000000,337000,5400000,4000000,64700000,2023
1,7.0,2015,United States,Kids Diana Show,112000000,93247040539,1111,0,Entertainment,731674000,182900,2900000,2200000,35100000,2023
2,8.0,2010,Japan,PewDiePie,111000000,29058044447,4716,0,Entertainment,39184000,9800,156700,117600,1900000,2023
3,10.0,2018,United States,Vlad and Niki,98900000,77180169894,574,600000,Entertainment,580574000,145100,2300000,1700000,27900000,2023
4,12.0,2007,United States,WWE,96000000,77428473662,70127,600000,Sports,714614000,178700,2900000,2100000,34300000,2023
5,17.0,2020,United Kingdom,5-Minute Crafts 2.0,80100000,26236790209,1,0,Entertainment,1,0,0,0,0,2023
6,29.0,2009,United States,Dude Perfect,59500000,16241549158,389,100000,Sports,141200000,35300,564800,423600,6800000,2023
7,33.0,2014,India,Wave Music,58000000,40602020243,19487,500000,Music,232025000,58000,928100,696100,11100000,2023
8,49.0,2007,0,badabun,46800000,19398045702,1,75,Music,440,0,2,1,21,2023
9,53.0,2011,El Salvador,Fernanfloo,46100000,10323391593,543,200000,Games,33842000,8500,135400,101500,1600000,2023
10,55.0,2006,Brazil,Felipe Neto,45200000,16602198273,4331,200000,Entertainment,130359000,32600,521400,391100,6300000,2023
11,58.0,2005,0,brightside,44500000,10708531817,0,1,0,0,0,0,0,0,2023
12,60.0,2013,Brazil,whinderssonnunes,44200000,4274709210,558,0,Comedy,26683000,6700,106700,80100,1300000,2023
13,69.0,2017,United States,Like Nastya Show,42400000,19547696190,618,0,Entertainment,53202000,13300,212800,159600,2600000,2023
14,74.0,2010,Mexico,Luis Arturo Villar Sudek,40600000,8670473639,0,0,Comedy,0,0,0,0,0,2023
15,75.0,2011,0,elrubiusOMG,40400000,7410536668,703,0,Entertainment,5773000,1400,23100,17300,277100,2023
16,76.0,2018,0,Toys and colors,40300000,47005053156,4,0,People,5,0,0,0,0,2023
17,77.0,2017,United Arab Emirates,shfa2 -,39700000,23884824160,1596,300000,People,247731000,61900,990900,743200,11900000,2023
18,78.0,2021,0,LUCCAS NETO- LUCCAS TOON,39400000,22302547082,1,0,Games,2,0,0,0,0,2023
19,79.0,2014,India,CarryMinati,39200000,3294013141,186,700000,Comedy,78688000,19700,314800,236100,3800000,2023
20,NaN,2018,US,vlad and niki,129000000,98963573244,790,2000000,kids,1514000000,344400,5500000,4100000,66100000,2024
21,NaN,2015,US,kids diana show,128000000,108833430096,1280,1000000,kids,1435000000,326500,5200000,3900000,62700000,2024
22,NaN,2016,US,like nastya,123000000,107885644820,916,1000000,kids,1476000000,335900,5400000,4000000,64500000,2024
23,NaN,2016,US,toys and colors,68100000,81954205531,1392,1900000,kids,2814000000,640100,10200000,7700000,122900000,2024
24,NaN,2016,US,5-minute crafts,81100000,27896962745,7384,4300000,craft,1078742425,245400,3900000,2900000,47100000,2024
25,NaN,2011,US,wavemusic,4740000,2527788438,2268,10000,music,20177855,4600,73400,55100,881400,2024
26,NaN,2007,US,wwe,105000000,90054898316,80845,1000000,sport,672001471,152900,2400000,1800000,29400000,2024
27,NaN,2010,JP,pewdiepie,110000000,29452005379,4800,0,gaming,17214772,3900,62700,47000,751900,2024
28,NaN,2020,AE,zamzam electronics trading,69200000,34062790399,19180,2200000,entertainment,1342000000,305200,4900000,3700000,58600000,2024
29,NaN,2013,BR,whinderssonnunes,44700000,4587763266,868,0,entertainment,9127450,2100,33200,24900,398700,2024
30,NaN,2020,IN,kl bro biju rithvik,62500000,54006608122,2865,2600000,entertainment,2739000000,623100,10000000,7500000,119600000,2024
31,NaN,2014,IN,carryminati,44800000,4072864133,202,100000,entertainment,21878007,5000,79600,59700,955600,2024
32,NaN,2017,KR,kimpro,72600000,56248043457,3572,4200000,entertainment,2792000000,635100,10200000,7600000,121900000,2024
33,NaN,2024,PT,ur cristiano,71500000,708348070,77,5000000,entertainment,141064845,32100,513500,385100,6800000,2024
34,NaN,2012,US,mrbeast,336000000,66485783433,836,6000000,entertainment,3342000000,760400,12200000,9100000,146000000,2024
35,NaN,2008,US,stokes twins,101000000,15951895953,333,4500000,entertainment,1108000000,252000,4000000,3000000,48400000,2024
36,NaN,2014,US,a4,71300000,31451352045,969,1500000,entertainment,311991552,71000,1100000,851700,13600000,2024
37,NaN,2020,US,alan chikin chow,69500000,48789998680,1408,2900000,entertainment,862213000,196200,3100000,2400000,37700000,2024
38,NaN,2009,US,dude perfect,60600000,17992859113,462,100000,entertainment,118421642,26900,431100,323300,5200000,2024
39,NaN,2011,US,mark rober,60500000,8859070726,186,1300000,entertainment,536507732,122100,2000000,1500000,23400000,2024

# **Growth estimates December 2024**

In [ ]:
#https://us.youtubers.me/looloo-kids-nursery-rhymes-and-children-s-songs/youtuber-stats
#https://vidiq.com/youtube-stats/channel/UC4NALVCmcmL5ntpV0thoH6w/

# **Load database**

In [ ]:
df_merged.to_csv("top20_2023_2024.csv", index= False)

# **Correcting updated dataframe**

In [67]:
df_updated = pd.read_csv("/content/top20_2023_2024_updated.csv")
df_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   rank                             40 non-null     float64
 1   year                             40 non-null     int64
 2   country                          40 non-null     object
 3   title                            40 non-null     object
 4   channel_type                     40 non-null     object
 5   subscribers                      40 non-null     int64
 6   estimated_subscribers            40 non-null     int64
 7   video_views                      40 non-null     int64
 8   estimated_video_views            40 non-null     int64
 9   uploads                          40 non-null     int64
 10  subscribers_last_30_days         40 non-null     int64
 11  views_last_30_days               40 non-null     int64
 12  lowest_monthly_income            40 non-null     int64
 13  highest_monthly_income           40 non-null     int64
 14  lowest_yearly_income             40 non-null     int64
 15  highest_yearly_income            40 non-null     int64
 16  yearly_earnings_prediction_2025  40 non-null     int64
 17  data_year                        40 non-null     int64
dtypes: float64(1), int64(14), object(3)
memory usage: 5.8+ KB

In [68]:
# change dtypes "rank" to int
df_updated["rank"] = df_updated["rank"].astype(int)
df_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   rank                             40 non-null     int64
 1   year                             40 non-null     int64
 2   country                          40 non-null     object
 3   title                            40 non-null     object
 4   channel_type                     40 non-null     object
 5   subscribers                      40 non-null     int64
 6   estimated_subscribers            40 non-null     int64
 7   video_views                      40 non-null     int64
 8   estimated_video_views            40 non-null     int64
 9   uploads                          40 non-null     int64
 10  subscribers_last_30_days         40 non-null     int64
 11  views_last_30_days               40 non-null     int64
 12  lowest_monthly_income            40 non-null     int64
 13  highest_monthly_income           40 non-null     int64
 14  lowest_yearly_income             40 non-null     int64
 15  highest_yearly_income            40 non-null     int64
 16  yearly_earnings_prediction_2025  40 non-null     int64
 17  data_year                        40 non-null     int64
dtypes: int64(15), object(3)
memory usage: 5.8+ KB

In [70]:
# download dataframe
df_updated.to_csv("top20_2023_2024_updated.csv", index= False)